*{
    margin: 0;
    box-sizing: border-box;
}
body{
  background-color:aliceblue;
}
.justify-between{

  justify-content: space-between;
}
.justify-even{

  justify-content: space-evenly;
}

.col-1 {
    width: 8.3333%;
  }
  .col-2 {
    width: 16.6666%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.3333%;
  }
  .col-5 {
    width: 41.6666%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.3333%;
  }
  .col-8 {
    width: 66.6666%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.3333%;
  }
  .col-11 {
    width: 91.6666%;
  }
  .col-12 {
    width: 100%;
  }

  .container {

    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

.row{

    display: flex;
    flex-wrap: wrap;

}

.service{

    margin-right: 20px;
    margin-left: 5px;
    min-width: 300px;
    min-height: 320px;
    padding: 20px ;
    background-color:lightgrey;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    transition: all 0.3s ;
}
.service h4{
    font-size: 21px;
    color: rgba(0, 5, 14, 0.86);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
    text-align: center;
}
.service p {
    font-size: 17px;
    margin-bottom: 10px;
}
.service img {
  width: 70px;
  margin-bottom: 10px;
}
.service:hover{
  transform: scale(1.04);
}
.service:hover h4{
  color:rgba(43, 101, 246, 0.616);
}
